In [5]:
print("name")
print("name")
print("name")
print("name")
print("name")

name
name
name
name
name

# loops in Python 
> loops are structure that execute set of statement for given number of times
1. while
2. for

> every loop has three parts as
- declaration of control variable
- condition on control variable
- updation of conrol variable

# while loop
> simplest loop and it is used when we dont know the final number of iteration

In [15]:
n= 1
while (n<=50):
    print("the value of n is:",n)
    n=n+2

the value of n is: 1
the value of n is: 3
the value of n is: 5
the value of n is: 7
the value of n is: 9
the value of n is: 11
the value of n is: 13
the value of n is: 15
the value of n is: 17
the value of n is: 19
the value of n is: 21
the value of n is: 23
the value of n is: 25
the value of n is: 27
the value of n is: 29
the value of n is: 31
the value of n is: 33
the value of n is: 35
the value of n is: 37
the value of n is: 39
the value of n is: 41
the value of n is: 43
the value of n is: 45
the value of n is: 47
the value of n is: 49

In [2]:
n = 1
while ( n <= 10):
    
    if(n % 2 ==0):
        print("even",n)
    else:
        print("odd",n)
    n=n+1

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [16]:
n = 20
while(n>=1):
    print("pakistan zindabad:",n)
    n=n-1

pakistan zindabad: 20
pakistan zindabad: 19
pakistan zindabad: 18
pakistan zindabad: 17
pakistan zindabad: 16
pakistan zindabad: 15
pakistan zindabad: 14
pakistan zindabad: 13
pakistan zindabad: 12
pakistan zindabad: 11
pakistan zindabad: 10
pakistan zindabad: 9
pakistan zindabad: 8
pakistan zindabad: 7
pakistan zindabad: 6
pakistan zindabad: 5
pakistan zindabad: 4
pakistan zindabad: 3
pakistan zindabad: 2
pakistan zindabad: 1

In [24]:
n= 1
while(n<=20):
    sq=n**2
    print("the square of counting are:",sq)
    n=n+1

the square of counting are: 1
the square of counting are: 4
the square of counting are: 9
the square of counting are: 16
the square of counting are: 25
the square of counting are: 36
the square of counting are: 49
the square of counting are: 64
the square of counting are: 81
the square of counting are: 100
the square of counting are: 121
the square of counting are: 144
the square of counting are: 169
the square of counting are: 196
the square of counting are: 225
the square of counting are: 256
the square of counting are: 289
the square of counting are: 324
the square of counting are: 361
the square of counting are: 400

In [25]:
n=1
while(n<=50):
    if(n%3==0):
        print("the multiple of 3 is:",n)
    n=n+1

the multiple of 3 is: 3
the multiple of 3 is: 6
the multiple of 3 is: 9
the multiple of 3 is: 12
the multiple of 3 is: 15
the multiple of 3 is: 18
the multiple of 3 is: 21
the multiple of 3 is: 24
the multiple of 3 is: 27
the multiple of 3 is: 30
the multiple of 3 is: 33
the multiple of 3 is: 36
the multiple of 3 is: 39
the multiple of 3 is: 42
the multiple of 3 is: 45
the multiple of 3 is: 48

In [29]:
n=1
while(n<=10):
    print("2 x" ,n , "=", 2*n)
    n=n+1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [38]:
number= int(input("enter a number:"))
n=1
while(n<=10):
    print(number ,"x",n, "=", number*n)
    n=n+1

enter a number: 12

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [11]:
num= int(input("table:"))
n= 1
while(n<20):
    print(num,"x",n, "=",num*2)
    n=n+2

table: 3

3 x 1 = 6
3 x 3 = 6
3 x 5 = 6
3 x 7 = 6
3 x 9 = 6
3 x 11 = 6
3 x 13 = 6
3 x 15 = 6
3 x 17 = 6
3 x 19 = 6