In [86]:
name="ali"

In [87]:
type(age)

int

In [88]:
age*2

86

# the arithmetic operator in Python

> there are several arithmetic operator in python like
 1. addition      +
 2. subtraction    -
 3. multiplication   *
 4. division       /
 5. exponent       **
 6. moduuls       %

In [31]:
# addition 
n1=2
n2=5

In [32]:
n1+n2

7

In [33]:
n2-n1

3

In [34]:
n1*n2

10

In [35]:
n2/n1

2.5

In [36]:
n2 % n1

1

In [37]:
n2**n1

25

In [38]:
2**3

8

In [40]:
n1**n2

32

 find a percentage of marks of student if he git the marks in these subjects as follows 
 1. physics 56/100
 2. chem 67/100
 3. urdu 87/100
 4. cs 78/100

In [44]:
phy=56
chem=67
urdu=87
cs=78
totalmarks=phy+chem+urdu+cs

In [45]:
totalmarks

288

In [46]:
perc=totalmarks*100/400

In [47]:
perc

72.0

In [48]:
print("the percentage is:",perc)

the percentage is: 72.0

In [49]:
print("totalk marks of student:",totalmarks)

totalk marks of student: 288

In [59]:
print("the marks of physics:",phy)
print("the marks of chemistry:",chem)
print("the marks of urdu:",urdu)
print("the marks of computer science:",cs)

the marks of physics: 56
the marks of chemistry: 67
the marks of urdu: 87
the marks of computer science: 78

In [60]:
shirt1=750
shirt2=350
shirt3=450
totalamount=shirt1+shirt2+shirt3

In [72]:
print("totalamount is:",totalamount)

totalamount is: 1550

In [69]:
discount=10/100*totalamount

In [70]:
print("discount obtain is:",discount)

discount obtain is: 155.0

In [73]:
amount_paied=totalamount-discount

In [74]:
print("amount to be paied is:",amount_paied)

amount to be paied is: 1395.0

In [91]:
shoes1=7000
shoes2=8000
shoes3=6000
totalamount=shoes1+shoes2+shoes3
print("totalamount is:",totalamount)

totalamount is: 21000

In [92]:
perc=21000*100/30000

In [93]:
perc

70.0

In [94]:
discount=20/100*totalamount

In [95]:
print("the discount is:",discount)

the discount is: 4200.0

In [6]:
ali=90
umer=70
aliza=80
totalmarks=ali+umer+aliza

In [7]:
totalmarks

240

In [8]:
average=totalmarks/3

In [9]:
average

80.0

In [11]:
print("the average marks of students is:",average)

the average marks of students is: 80.0

In [ ]:
#write a program to calculate area of triangle

In [ ]:
area=length*width

In [22]:
length=55
width=65
area

3575

In [28]:
emp1_sal= 55000
emp2_sal= 67000
emp1_bonus = (15/100)* emp1_sal
emp1_total_sal = emp1_bonus+emp1_sal

print("employee 1 saalary before bonus:",emp1_sal)
print("employee 1 salary after bonus:",emp1_total_sal)

emp2_bonus = (7.5/100)* emp2_sal
emp2_total_sal = emp2_bonus+emp2_sal

print("employee 2 saalary before bonus:",emp2_sal)
print("employee 2 salary after bonus:",emp2_total_sal)

employee 1 saalary before bonus: 55000
employee 1 salary after bonus: 63250.0
employee 2 saalary before bonus: 67000
employee 2 salary after bonus: 72025.0

In [10]:
emp1_sal= 4500
emp2_sal= 7800
emp1_bonus= (15/100)*emp1_sal
emp1_total_salary= emp1_bonus+emp1_sal
print("emp salary before bonus:",emp1_sal)
print("emp salary after bonus:",emp1_total_salary)

emp2_bonus= (5/100)*7800
emp2_total_salary= emp2_sal+emp2_bonus
print("emp salary before bonus:",emp2_sal)
print("emp salary after bonus:",emp2_total_salary)

emp salary before bonus: 4500
emp salary after bonus: 5175.0
emp salary before bonus: 7800
emp salary after bonus: 8190.0