# Getting Input from user and comparison operators and markdown language

## while dpooing programming we need to get a inpout form user

### so in order to get a input form user we use input fiunction in python , tht always return a string value from user

1. apple
2. banana
3. mango
4. water melon
5. papaye

> here is the main or focused point

 - here is the un ordered list
 - item 1
 - item 2

In [3]:
# comment 
## input fiunction always return a string value so we have to convert the desired value to int or float by using int() or float ()

In [13]:
age = int(input("apni age dasso :"))

apni age dasso : 45

In [14]:
age

45

In [15]:
type(age)

int

In [16]:
name  = input ("enter your name:")

enter your name: zeeshan

In [17]:
name

'zeeshan'

In [20]:
emp1_sal= int(input("enter employee 1 salary:"))
emp2_sal= int(input("enter employee 2 salary:"))
emp1_bonus = (15/100)* emp1_sal
emp1_total_sal = emp1_bonus+emp1_sal

print("employee 1 saalary before bonus:",emp1_sal)
print("employee 1 salary after bonus:",emp1_total_sal)

emp2_bonus = (7.5/100)* emp2_sal
emp2_total_sal = emp2_bonus+emp2_sal

print("employee 2 saalary before bonus:",emp2_sal)
print("employee 2 salary after bonus:",emp2_total_sal)

enter employee 1 salary: 75000
enter employee 2 salary: 120000

employee 1 saalary before bonus: 75000
employee 1 salary after bonus: 86250.0
employee 2 saalary before bonus: 120000
employee 2 salary after bonus: 129000.0

In [22]:
height=float(input("enter height:"))

enter height: 5.7

In [23]:
width=float(input("enter width:"))

enter width: 6.8

In [25]:
area=height*width

In [26]:
area

38.76

In [27]:
print("the area is:",area)

the area is: 38.76

# comparison OPerators

In [28]:
a = 2
b = 1

In [29]:
a>b

True

In [30]:
a<b

False

In [31]:
a <= b

False

In [32]:
a >= b

True

In [33]:
a == b

False

In [34]:
a != b

True

# the list of fav colours is:

1.purple
2.orange
3.parrot
4.red
5.white

In [36]:
emp1salary= int(input("enter employes salary:",))

enter employes salary: 100000

In [38]:
emp2salary= int(input("enter employes2 salary:",))

enter employes2 salary: 400000

In [48]:
employesbonus= (20/100)*emp1salary

In [49]:
employesbonus

20000.0

In [50]:
employesbonus2= (30/100)*emp2salary

In [51]:
employesbonus2

120000.0

In [53]:
employes1= 2000
bonus= (5/100)*employes1
print("employes salary before:",employes1)
print("employes salary after:",bonus)

employes salary before: 2000
employes salary after: 100.0

In [56]:
person= int(input("input:",))

input: 2500

In [59]:
person2= int(input("output:",))

output: 3500

In [60]:
total= person+person2

In [61]:
total

6000

In [62]:
a= 8
b= 10

In [63]:
a>b

False

In [64]:
a<b

True

In [65]:
a==b

False

In [67]:
a!=b

True

## write a phython program to add two number using arithmetic operators take two numbers as input from the user

In [3]:
numbers= int(input("1st number:",))

1st number: 5

In [5]:
number2= int(input("2nd number:",))

2nd number: 10

In [8]:
total=numbers+number2

In [9]:
print("the sum of numbers is:",total)

the sum of numbers is: 15

In [10]:
#write a program to calculate the area of rectangle using arithmetic operator take length and width as input from user

In [13]:
length= int(input("length :",))

length : 80

In [17]:
width= int(input("width:",))

width: 78

In [18]:
area= length*width

In [19]:
area

6240

In [20]:
print("the area of rectangle is:",area)

the area of rectangle is: 6240

In [22]:
#calculate the average of three numbers and take input from the user

In [23]:
number1= int(input("1st number:",))

1st number: 20

In [24]:
number2= int(input("2nd number:",))

2nd number: 40

In [25]:
number3= int(input("3rd number:",))

3rd number: 60

In [27]:
average= number1+number2+number3/3

In [28]:
average

80.0

#take two number from the user and print the sum,difference,product,quotient

In [ ]:
number1= int(input("number1:",))
number2= int(input("number2:",))
sum= number1+number2
difference= number1_number2
product= number1*number2
quotient+ number1/number2
print("the sum,difference,product and quotient is:",sum,difference,product,quotient)

In [ ]:
#two numbers and print square and cube

In [ ]:

number1= int(input("1st number:",))
number2= int(input("2nd number:",))
square= number1*number1
square2= number2*number2
cube1= number1*number1*number1
cube2= number2*number2*number2
print("the square of number 1:",square)
print("the square of number 2:",square2)
print("the cube of number 1:",cube1)
print("the cube of number 2 is:",cube 2)